/misc
/**/__pycache__
/new.png
.vscode
/old_scripts

#latex
/sze-thesis-template-latex-master/old_content/
/sze-thesis-template-latex-master/*.gz
/sze-thesis-template-latex-master/original.pdf
/sze-thesis-template-latex-master/*.thm
/sze-thesis-template-latex-master/*.aux
/sze-thesis-template-latex-master/**/*.aux
/sze-thesis-template-latex-master/*.bbl
/sze-thesis-template-latex-master/*.blg
/sze-thesis-template-latex-master/*.lof
/sze-thesis-template-latex-master/*.log
/sze-thesis-template-latex-master/*.out
/sze-thesis-template-latex-master/*.toc